IA751_Phased.jpg
antes_bebe.jpg
conversao_varredura/LogComp.jpg
conversao_varredura/Redimensionada.jpg
conversao_varredura/envelope.jpg
conversao_varredura/image_after_varredura.jpg
conversao_varredura/image_before_varredura.jpg
data/
data_convexo/
data_linear/
data_phased_array/
depois_bebe.jpg
*.jpg
